name: Snapshot

on:
  push:
    branches:
      - 'main'
  pull_request:

permissions: {}

jobs:
  snapshot:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code onto GOPATH
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Extract version of Go to use
        run: echo "GOVERSION=$(awk -F'[:@]' '/FROM golang/{print $2; exit}' Dockerfile.dev)" >> $GITHUB_ENV

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: '${{ env.GOVERSION }}'
          check-latest: true
          cache: false

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29 # v7.0.0
        with:
          install-only: true

      - name: Install bom
        uses: kubernetes-sigs/release-actions/setup-bom@8af7b2a5596dff526de9db59b2c4b8457e9f52a1 # v0.4.0

      - name: Run Mage
        uses: magefile/mage-action@6f50bbb8ea47d56e62dee92392788acbc8192d0b # v3.1.0
        with:
          version: latest
          args: buildBinariesSnapshot

      - name: check binary
        run: ./dist/tejolote_linux_amd64_v1/tejolote version
